[Desktop Entry]
Name=Poetit
Comment=Poetry editor with meter, rhyme, and thesaurus
Exec=poetit
Icon=io.github.commuted.Poetit
Terminal=false
Type=Application
Categories=Office;TextEditor;
Keywords=poetry;editor;meter;rhyme;thesaurus;
