[Desktop Entry]
Version=1.0
Name=Poet-it
GenericName=Poetry Editor
Comment=Desktop poetry editor with meter, rhyme, spell check, and version control
Exec=poet-it
Icon=poet-it
Terminal=false
Type=Application
Categories=Office;TextEditor;
Keywords=poetry;editor;rhyme;meter;thesaurus;linguistics;spell;
StartupWMClass=Poet-it
StartupNotify=true
